<div class="sidebar">
  <h3 class="title is-4">Latest News</h3>
  {% comment %}
    정렬 로직을 제거하고 news.yml에 적힌 순서대로 상위 3개를 가져오기
  {% endcomment %}
  {% assign recent_news = site.data.news | slice: 0, 3 %}
    
    {% for item in recent_news %}
    <div class="box" style="margin-bottom: 1rem; padding: 1rem;">
      <p class="is-size-7 has-text-info has-text-weight-bold" style="margin-bottom: 0.3rem;">{{ item.date }}</p>
      <div class="content is-size-6" style="margin-bottom: 0;">
        {{ item.content | markdownify | remove: '<p>' | remove: '</p>' }}
      </div>
    </div>
    {% endfor %}

    <a href="/news/" 
      class="button is-dark is-outlined is-fullwidth mt-4"
      style="border-color: #363636 !important; color: #363636 !important; background: transparent !important; height: 40px;"
    >
      연구실 소식 더보기
    </a>
</div>