# 현재 뉴스나 실적을 _data로 자동화하였지만, 미래 연구실 관련
# 긴 글이나 공지사항을 블로그 형태로 올릴 수도 있으니 예비용으로 보존

---
layout: default
---
{{ content }}

<div class="columns is-multiline">
    <div class="column is-12">
        {% include pagination.html %}
    </div>
    {% for post in paginator.posts %}
        <div class="column is-12">
            {% include post-card.html %}
        </div>
    {% endfor %}
    <div class="column is-12">
        {% include pagination.html %}
    </div>
    <div class="column is-12">
        {% include subscribe.html %}
    </div>
</div>
